#rooms-page {
  padding: 40px;
}

#game-page {
  display: none;
  padding: 40px;
  align-items: flex-start;
  gap: 60px;
}

#add-room-btn,
#quit-room-btn {
  font-size: 14px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  padding: 15px 25px;
  margin-top: 30px;
}

.rooms-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 220px;
  padding: 5px 5px 20px;
  border: 1px solid var(--main-button-border-color);
}

.users-connected {
  font-size: 14px;
  align-self: flex-start;
}

.users-connected span {
  margin-right: 5px;
}

.room-name {
  font-size: 24px;
}

.join-btn {
  font-size: 14px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  padding: 10px 30px;
}

.game-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 500px;
  border: 1px solid var(--main-button-border-color);
}

.user-list {
  margin-top: 10px;
}

.user-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px 10px;
  margin-bottom: 10px;
  width: 230px;
}

.user-progress {
  height: 25px;
  flex-basis: 100%;
  border: 1px solid var(--main-button-border-color);
}

.user-progress-value {
  height: 100%;
  width: 0;
}

.ready-status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
}

.ready-status-red {
  background-color: red;
}

.ready-status-green {
  background-color: green;
}

.game {
  display: none;
}

#ready-btn {
  width: 150px;
  height: 50px;
  font-size: 14px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  text-transform: uppercase;
}

#timer {
  display: none;
  color: gray;
  font-size: 60px;
}

.time {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 14px;
}

.time-left {
  margin-right: 5px;
}

#text-container {
  font-size: 18px;
  max-width: 450px;
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  min-width: 270px;
  min-height: 200px;
  background-color: var(--white);
  border-radius: 5px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid var(--main-button-border-color);
}

.results {
  padding: 10px 20px;
}

#quit-results-btn {
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}
